<h1>События</h1>

<div class="buffer-both">
  <% if policy(Event).create? %>
    <%= link_to 'Создать событие', new_event_path, class: 'btn btn-success' %>
  <% end %>
</div>

<div class="row buffer-bottom">
  <h2>Предстоящие</h2>
  <%= render partial: 'events/event', collection: @events.future %>
</div>
<div class="row buffer-bottom">
  <h2>Прошедшие</h2>
  <%= render partial: 'events/event', collection: @events.past.reverse_order %>
</div>